body {
    background-image: url("https://i.imgur.com/l6Xgvsw.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.arenaZone {
    width: 950px;
    height: 80vh;
    margin-top: 20px;

}

.arena {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.playerZone {
    width: 350px;
    z-index: 3;
    height: 30vh;
}

.enemyZone {
    width: 350px;
    z-index: 3;
    height: 30vh;
}

.attackZone {
    width: 100px;
    height: 30vh;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.d-flex {
    display: flex;
    justify-content: center;
}

.m-5 {
    margin: 5px;
}

.imageSize {
    z-index: 3;
    width: 320px;
    height: 250px;
}
.endGame {
    margin: auto;

}

.healthBar {
    height: 30px;
}
.healthBarPlayer {
    height: 30px;
    overflow: hidden;
}

.healthC {
    z-index: 15;
}

.weapons {
    height: 300px;
    width: 600px;

    display: flex;
    justify-content: space-between;
    margin: 5px;
    border-style: outset;
}

.weaponsImgSize {
    width: 100px;
    height: 100px;
    display: flex;

}

.weaponBox {
    width: 175px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.m-5 {
    margin: 5px;
}

.armors {
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border-style: outset;

}

.armorsImgSize {
    width: 100px;
    height: 100px;
    display: flex;
}

.armorBox {
    width: 175px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.potion {
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border-style: outset;

}

.potionImgSize {
    width: 100px;
    height: 100px;
}

.potionBox {
    width: 175px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;

}

.showInventory {
    display: flex;
    flex-flow: wrap;
    width: 100%;

}